.business-top{
    
    height: 129px;
    width: 99%;
    min-width: 798px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(250, 250, 250);
}

.business-review-link{
    border-bottom: 1px solid lightgrey;
    height: 98px;
    margin-left: 140px;
    margin-right: 140px;
}

.business-location-hour-container{
    height: 400px;
    justify-content: center;
    margin-left: 141px;
    margin-right: 141px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.top-header-container{
    display: flex;
    justify-content: space-around;
}

.top-logo-sign{
    width: 78px;
    z-index: 200;
    left: 100px;
    position: relative;
    top: 15px;
    margin-right: 20px;
}

.business-abstract{
    position: relative;
    display: flex;
    bottom: 195px;
}

.business-abstract-container{
    height: 425px;
}

.business-abstract-text{
    min-width: 598px;
}
.business-abstract-text :first-child{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 48px;
    color: #ffffff;
}

.business-abstract-text p{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-left: 140px;
    margin-bottom: 10px;
}

.business-pic-container{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 65%);
    display: inline-flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.business-pic{
    opacity: 0.7;
    object-fit: cover;
    height: 100%;
    width: 100%;
    min-width: 380px;
}

.business-review-button{
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    background-color: #F43939;
    color: white;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-radius: 4px;
    width: 180px;
    height: 40px;
    margin-top: 28px;
    outline: none;
}

.business-review-button:hover{
    box-shadow: 0 1px 1px rgb(184, 184, 184);
    cursor: pointer;
    transition: 0.5s;
    outline: none;
}

.business-info-container{
    display: flex;
    justify-content: flex-start;
}

.business-hour-text{
    font-size: 20px;
    font-family: "Open Sans", Helvetica, "Helvetica Neue";
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 25px;
    padding-top: 25px;
}

.today-hours{
    font-weight: 600;
}

.reviews-text{
    font-size: 20px;
    font-weight: bold;
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    color: #2B273C;
    margin-top: 35px;
    margin-bottom: 35px;
}

.business-reviews-container{
    margin-left: 141px;
    margin-right: 141px;
}

#num-reviews{
    position: relative;
    font-size: 25px;
}

.business-phone{
    color: rgba(43,39,60,1);
    display: flex;
    justify-content: space-between;
}

.business-abstract{
    display: flex;
    justify-content: space-between;
}

.business-address-tag{
    color: rgba(0,131,143,1);
}

.business-website-url{
    color: rgba(0,131,143,1);
}

.business-website-tag{
    right: 10px;
}

.business-address-words{
    color: rgba(117,114,128,1);;
}

.business-container-right {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 30px 0px 750px 0px;
    width: 300px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    text-align: left;
    position: sticky;
    top: 100px;
    padding: 10px;
    left: 700px;
}

.business-container-right ul {
    border: solid 1px lightgray;
    position: sticky;
    top: 100px;
    width: 400px;
    padding: 20px;
    margin: 0px 0px 0px 10px;
    
}
.business-container-right ul li {
    border-bottom: solid 1px lightgray;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.business-container-right ul li img{
    width: 30px;
    height: auto;
}

.business-container-right ul li:last-child {
    border-bottom: none
}