.nav-main-splash{
    /* background-color: green; */
    position: relative;
    z-index: 1;
    top: 16px;
    display: flex;
    justify-content: space-between;
    left: 142px;
    width: 955px;
}

.nav-main-other{
    /* background-color: green; */
    position: relative;
    z-index: 1;
    top: 16px;
    display: flex;
    justify-content: flex-end;
    /* left: 150px; */
    width: 450px;
}

.nav-main-review_pages{
    position: relative;
    z-index: 1;
    top: 25px;
    display: flex;
    justify-content: flex-end;
    width: 450px;
}

.nav-main-sub-splash {
    position: relative;
    display: flex;
    justify-content: center;
}

.nav-main-sub-other {
    position: relative;
    display: flex;
    justify-content: center;
    left: -100px;
}

.session-button0-splash{
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    color: white;
    padding: 10px 10px;
    background: transparent;
    border-color: transparent;
    outline: none;
    margin-right: 10px;
    height: 35px;
    /* visibility: hidden; */
}

.session-button0-splash:hover{
    cursor: pointer;
    color: #d32323;
}

.session-button0-other{
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    /* color: white; */
    padding: 10px 10px;
    background: transparent;
    border-color: transparent;
    outline: none;
    margin-right: 10px;
    height: 35px;
}

.session-button1-splash{
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    color: white;
    padding: 10px 10px;
    background: transparent;
    border-color: transparent;
    outline: none;
    margin-right: 10px;
    height: 35px;
}

.session-button1-splash:active{
    color: rgb(180, 180, 180);
    outline: none;
}

.session-button1-splash:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
    outline: none;
}

.session-button1-other{
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    font-size: 16px;
    color: rgb(72, 72, 72);
    border: 1px solid grey;
    background-color: white;
    padding: 8px 16px;
    border-radius: 4px;
    height: 40px;
    margin-right: 10px;
    /* width: 80px; */
    outline: none;
}

.session-button1-other:hover{
    cursor: pointer;
    background-color: lightgrey;
    transition: 00.5s;
    outline: none;
}

.session-button2-splash{
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    color: white;
    padding: 7px 24px 8px;
    border: white solid 2px;
    border-radius: 4px;
    background: transparent;
}

.session-button2-other{
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    font-size: 16px;
    font-weight: normal;
    color: white;
    border: none;
    border-radius: 4px;
    height: 40px;
    background-color: #F43939;
    width: 90px;
    outline: none;
}

.session-button2-other:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 1px 1px rgb(184, 184, 184);
    outline: none;
    background-color: #fc1515;
}

.session-button2-splash:hover{
    cursor: pointer;
    transition: 0.5s;
    /* background-color: white; */
    color: black;
    background-color: white;
}

.session-button2-splash:active{
    outline: none;
}