/* .search-bar-container-{
    width: 970px;
} */

.search-bar-container-splash{
    z-index: 5;
    position: relative;
    top: 130px;
    left: 140px;
    /* border: 5px solid red; */
}

.search-bar-container-other{
    z-index: 5;
    position: relative;
    /* top: 130px; */
    left: 140px;
    /* border: 5px solid red; */
}

.search-tag1-splash{
    font: bold 18px Arial, Helvetica, "Helvetica Neue";
    color: #636262;
    font-weight: bolder;
    background-color: white;
    padding: 13px 12px;
    border-radius: 4px 0px 0px 4px;
    border-right: 1px solid rgb(142, 140, 140);
}

.search-text-splash{
    padding: 12px 13px;
    font: 18px Arial, Helvetica, "Helvetica Neue";
    border: none;
    outline: none;
    width: 360px;
}

.search-text-other{
    padding: 12px 13px;
    font: 18px Arial, Helvetica, "Helvetica Neue";
    border: none;
    outline: none;
    width: 260px;
}

.search-tag2-splash{
    font: bold 18px Arial, Helvetica, "Helvetica Neue";
    color: rgb(99, 98, 98);
    font-weight: bolder;
    background-color: white;
    padding: 13px 13px;
    border-left: 2px, rgb(99, 98, 98)
}

.search-tag1-other{
    font: bold 18px Arial, Helvetica, "Helvetica Neue";
    color: rgb(99, 98, 98);
    font-weight: bolder;
    background-color: white;
    padding: 16px 13px;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0px 5px 5px rgb(227, 224, 224);
}

.search-tag2-other{
    font: bold 18px Arial, Helvetica, "Helvetica Neue";
    color: rgb(99, 98, 98);
    font-weight: bolder;
    background-color: white;
    padding: 16px 13px;
    border-left: 1px, black;
    box-shadow: 0px 5px 5px rgb(227, 224, 224);
}

.search-tag2-splash .search-text-splash::placeholder{
    color: black;
}

.search-tag2-other .search-text-other::placeholder{
    color: black;
}

.search-icon-buttonsplash{
    position: relative;
    top: 11px;
    border: none;
    background-color: #d32323;
    border-radius: 0px 4px 4px 0px;
    height: 46px;
    width: 65px;
    outline: none;
}

.search-icon-buttonsplash:hover{
    cursor: pointer;
    background-color: #b61f1f;
    transition: 0.7s;
}

.search-categories {
    margin-top: 15px;
    width: 950px;
    background-color: green;
    display: flex;
    justify-content: space-around;
    color: white;
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    color: white;
    background: transparent;
}

.search-bar-container-business{
    position: relative;
    top: 25px;
}

.search-boxother{
    position: relative;
    top: 25px;
}