.splash-main-top{
    position: relative;
    z-index: 10;
    width: 1200px;
    margin: auto;
    top: 20px;
}

.splash-logo-container{
    /* z-index: 1;
    left: 450px;
    position: relative;
    width: 180px;
    top: -80px; */
    /* border: 5px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splash-logo{
    width: 13%;
    height: auto;
    position: relative;
    top: 50px;
    left: 530px;
}


.splash-top-container{
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    min-width: 1024px;
    height: 600px;
    background-color: #cccccc;
    background-image: url('https://i.ibb.co/tq6kmsN/yelp-background.jpg');
    min-height:100%;
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(94, 94, 94, 0.5);
}

.background-pic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    min-width: 1024px;
    min-height: 600px;

}

.nav-logout{
    font: 14px Arial, Helvetica, "Helvetica Neue";
    color: #0073BB;
    /* padding: 7px 24px 8px; */
    border: white solid 2px;
    border-radius: 4px;
    background: transparent;
    outline: none;
    margin: 4px;
}

.nav-logout:hover{
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: underline;
}

.profile{
    width: 40px;
    border-radius: 4px 0 0 4px;
}

.profile:hover{
    background-color: black;
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
}

.profile-inner{
    width: 60px;
    margin: 12px 12px 12px 0;
    border-radius: 3px;
}

.nav-dropdown-content{
    display: none;
    position: absolute;
    min-width: 60px;
    z-index: 1;
    background-color: white;
    width: 218px;
    right: 20px;
    top: 46px;
    border-radius: 3px;
    box-shadow: 0 3px 3px darkgrey;
}

.nav-signed-on{
    background-color: transparent;
    border: none;
    outline: none;
    min-width: 100px;
}

.show {
    display: block;
}

.dropdown-profile{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin: 0px 12px;
}

.dropdown-profile-name{
    color: #0073BB;
    font-size: 14px;
    font-family: Arial, Helvetica, "Helvetica Neue";
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 8px;
}